




.topNavHeader {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #8a8a8b;
  font-size: .9em;
  display: flex;
  justify-content: space-between; }

.janetIcon {
  height: 40px;
  width: 150px;
  background-image: url("../janetLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 12px;
  cursor: pointer; }

.leftNav {
  margin-left: 20px;
  margin-top: 10px;
  font-size: .75em;
  padding-top: 5px; }

.shopping {
  margin-top: 10px;
  margin-right: 20px;
  color: gray;
  cursor: pointer; }
  .shopping:hover {
    color: #73D1A6; }
  .shopping:active {
    color: #9751AD; }

.hamburger {
  color: gray;
  size: 1px;
  cursor: pointer; }
  .hamburger:hover {
    color: #73D1A6; }
  .hamburger:active {
    color: #9751AD; }

.glass {
  margin-left: 15px;
  color: gray;
  cursor: pointer; }
  .glass:hover {
    color: #73D1A6; }
  .glass:active {
    color: #9751AD; }

.navMenu {
  height: 600px;
  width: 250px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-family: sans-serif;
  color: gray;
  font-size: 24px;
  margin-left: 0px;
  transition: all linear 0.3s; }

.ng-hide {
  margin-left: -300px; }

.loginButton {
  border: 2px solid #73D1A6;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  margin-left: 20px;
  cursor: pointer;
  color: #73D1A6; }
  .loginButton:active {
    background: #73D1A6;
    border: 2px solid #DCE1E2;
    color: #DCE1E2; }

.optionBox {
  margin-top: 50px; }

.navOption {
  margin: 20px;
  cursor: pointer;
  border-radius: 5px; }
  .navOption:hover {
    color: #73D1A6; }
  .navOption:active {
    background: #73D1A6;
    color: #DCE1E2; }

.product-details-main-container {
  width: 100%;
  height: 100%;
  background: red; }
