<section class="admin-page">
    <div class="admin-profile-settings">
        <h1>Admin Profile Settings</h1>
        <h3>Email</h3>
        <input type="text" ng-model="user.email"><br>
        <h3>Password</h3>
        <input type="password" ng-model="user.password"><br><br>
        <button type="button" ng-click="updateAdminProfileSettings(user)">Save Changes</button>
    </div>
    <hr width="80%"></hr>
    <div class="admin-product-list-top">
      <div class="add-new-product-button">
        <button type="button" ng-click="toggleNewProductModal()" >Add New Product</button>
      </div>
        <h4 class="product-list-title">Current Products</h4>
    </div>
    <hr width="80%"></hr>
    <div class="product-list" ng-repeat="product in products track by $index">
      <div class="single-product">
        <div class="product-image">
            <img src="{{product.images}}">
        </div>

        <div class="product-info">
            <h4>{{product.name}}</h4><hr width="90%"></hr>
            <h4>{{product.seller}}</h4>
            <p>{{product.category}} | Qty: {{product.qty}}</p>
        </div>

        <div class="product-options">
            <button type="button" ng-click="toggleEditProductModal(product)">Edit</button><br>
            <button type="button" ng-click="deleteProduct(product)">Delete</button>
        </div>
      </div>
      <hr width="80%"></hr>
    </div>
</section>
<new-product-modal-directive></new-product-modal-directive>
<edit-product-modal-directive></edit-product-modal-directive>
