<section class="admin-page">
  <section class="admin-content-wrapper">
  <div class ng-hide="!user">
    <div class="admin-profile-settings">
        <h1>Admin Profile Settings</h1>
        <h3>Name</h3>
        <input type="text" ng-model="user.name"><br>
        <h3>Email</h3>
        <input type="text" ng-model="user.email"><br><br>
        <button type="button" ng-click="updateAdminProfileSettings(user)">Save Changes</button>
    </div>
    <!-- <hr width="80%"></hr> -->
    <div class="admin-product-list-top">
      <div class="admin-search-bar">
          <input type="text" ng-model="adminSearchText" placeholder="Search a product...">
      </div>
      <div class="admin-add-new-product-button">
        <button type="button" ng-click="toggleNewProductModal()" >Add New Product</button>
      </div>
        <h4 class="admin-product-list-title">Current Products:</h4>
    </div>
    <!-- <hr width="80%"></hr> -->
    <section class="admin-product-card">
    <div class="admin-product-list" ng-repeat="product in products | filter:adminSearchText">
      <div class="admin-single-product">
        <div class="admin-product-image">
            <img src="{{product.images}}">
        </div>

        <div class="admin-product-info">

          <div class="admin-product-main-info">
            <h4>{{product.name}}</h4>
            <p>{{product.category}} | Qty: {{product.qty}}</p>
          </div>

          <div class="admin-product-side-info">
            <p><i class="fa fa-heart"></i> {{product.favorites}}</p>
          </div>

        </div>

        <div class="admin-product-options">

          <div class="admin-product-options-mobile-view">
            <i class="fa fa-pencil" ng-click="toggleEditProductModal(product)"></i>
            <i class="fa fa-trash" ng-click="deleteProduct(product)"></i>
          </div>

          <div class="admin-product-options-desktop-view">
            <button type="button" ng-click="toggleEditProductModal(product)">Edit</button>
            <button type="button" ng-click="deleteProduct(product)">Delete</button>
          </div>

        </div>
      </div>
      <!-- <hr width="80%"></hr> -->
    </div>
  </section>
  </div>
  <h2 class="admin-login-restriction-message" ng-hide="user">You must be logged in as an administrator to continue.</h2>
</section>
</section>
<new-product-modal-directive></new-product-modal-directive>
<edit-product-modal-directive></edit-product-modal-directive>
