@import "_colors"

.admin-new-product-input body
  font-family: 'Lato', sans-serif
  margin: auto

.admin-new-product-input input
  width: 90%
  height: 20px
  border: 1px solid $janetGreen
  font-family: 'Lato', sans-serif
  border-radius: none
  font-size: 10px
  font-weight: 200
  text-align: left
  background-color: white
  margin: 0 auto
  margin-top: 10px
  margin-bottom: 10px
  padding: 5px 3px 5px 3px
  font-size: 16px
  outline: none
  -webkit-appearance: none
  webkit-border-radius: 0px

.admin-new-product-input textarea
  width: 90%
  border: 1px solid $janetGreen
  font-family: 'Lato', sans-serif
  border-radius: none
  font-size: 10px
  font-weight: 200
  text-align: left
  background-color: white
  margin: 0 auto
  margin-top: 10px
  margin-bottom: 10px
  font-size: 16px
  outline: none
  -webkit-appearance: none
  webkit-border-radius: 0px

.admin-submit-button button
  width: 90%
  height: 50px
  font-size: 15px
  margin: 0 auto
  margin-top: 20px
  margin-bottom: 5px
  border-radius: 3px
  font-family: 'Lato', sans-serif
  background-color: $janetPurple
  border: solid
  border-width: 1px
  color: white
  padding: 10px 20px 10px 20px
  text-decoration: none
  text-align: center
  textarea:focus, input:focus
  outline: none
  -webkit-transition-duration: .2s
  transition-duration: .2s

.admin-new-product-input button:hover
  background-color: $janetGreen
  color: white

.dialog h3
  text-align: center
  margin: 10px 0px 20px 0px

// .dialog button
//   margin-top: 40px
//   padding: 10px 20px 10px 20px
//   text-align: center
//   justify-content: center

.modal
  height: 80%
  margin-top: 30px
  padding: 30px
  text-align: center

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #000
  opacity: 0.8
  z-index: 2

.dialog
  text-align: center
  position: fixed
  overflow: auto
  width: 80%
  height: 80%
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  background-color: white
  border: 2px solid $janetGray
  border-radius: 3px
  z-index: 3


.admin-new-product-input
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  // margin-left: 25px
  // margin-right: 25px

#admin-datetime-input
  margin-bottom: 15px

.admin-new-product-input p
  color: #999

.admin-new-product-input hr
  margin-top: 20px
  margin-bottom: 20px

.admin-submit-button
  text-align: center
  margin-bottom: 10px

@media (min-width: 500px)
  .admin-new-product-input hr
    width: 85px
  .admin-single-product
    max-width: 500px

@media (min-width: 800px)
  .dialog
    max-width: 650px
