@import "_colors"

.admin-edit-product-input body
  font-family: 'Lato', sans-serif
  margin: auto

.admin-edit-product-input input
  margin-top: 2px
  margin-bottom: 2px
  padding: 3px
  font-family: 'Lato', sans-serif
  border-radius: 5px
  border: 2px solid $janetGreen
  text-decoration: none

.admin-edit-product-input textarea
  margin-top: 5px
  padding: 3px
  border-radius: 5px
  border: 2px solid $janetGreen
  text-decoration: none
  font-family: 'Lato', sans-serif

.admin-save-changes-button button
  margin-bottom: 10px
  border-radius: 5px
  font-family: 'Lato', sans-serif
  background-color: $janetPurple
  border: none
  color: white
  padding: 10px 20px 10px 20px
  text-decoration: none
  text-align: center
  -webkit-transition-duration: .2s
  transition-duration: .2s

.admin-edit-product-input button:hover
  background-color: $janetGreen
  color: white

.admin-exit-modal i
  margin-top: 5px
  margin-right: 12px
  float: right

.admin-save-changes-button
  text-align: center
  margin-bottom: 15px

.admin-edit-product-input
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  // margin-left: 25px
  // margin-right: 25px

.admin-edit-product-input hr
  margin-top: 20px
  margin-bottom: 20px

.admin-edit-product-input input
  margin-bottom: 10px

.admin-edit-product-input p
  color: #999

@media (min-width: 500px)
  .admin-edit-product-input hr
    width: 85px
