@import "_colors"

.admin-exit-modal i
  margin-top: 5px
  margin-right: 12px
  float: right

.admin-save-changes-button
  text-align: center
  margin-bottom: 15px

.admin-edit-product-input
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  // margin-left: 25px
  // margin-right: 25px

.admin-edit-product-input hr
  margin-top: 20px
  margin-bottom: 20px

.admin-edit-product-input input
  margin-bottom: 10px

.admin-edit-product-input p
  color: #999

@media (min-width: 500px)
  .admin-edit-product-input hr
    width: 85px
