@import "_colors"

input
  margin: 5px 15px 5px 15px
  padding: 3px

textarea
  margin-top: 5px
  padding: 3px
  border-radius: 5px
  border: 2px solid $janetGreen
  text-decoration: none

.dialog h3
  text-align: center
  margin: 10px 0px 10px 0px

.dialog button
  margin-top: 40px
  padding: 10px 20px 10px 20px
  text-align: center
  justify-content: center

.modal
  height: 80%
  margin-top: 30px
  padding: 30px

.overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: #000
  opacity: 0.8
  z-index: 2

.dialog
  position: fixed
  overflow: auto
  width: 80%
  height: 80%
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  background-color: white
  border: 2px solid $janetGray
  border-radius: 10px
  z-index: 3
  text-align: center

.new-product-input
  display: flex
  justify-content: center
  flex-direction: column

.new-product-column-1
  text-align: center

.new-product-column-2
  text-align: center

#qty-input
  // margin-left: 15px

.submit-button
  text-align: center
  margin-bottom: 10px
