@import "_colors"

button
  border-radius: 5px
  background-color: $janetPurple
  border: none
  color: white
  padding: 10px 20px 10px 20px
  text-decoration: none
  text-align: center
  -webkit-transition-duration: .2s
  transition-duration: .2s

button:hover
  background-color: $janetGreen
  color: black

input
  border-radius: 5px
  border: 2px solid $janetGreen
  text-decoration: none

.admin-page
  background-color: white
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-around

.admin-profile-settings
  padding: 15px 10px 25px 10px
  text-align: center

.admin-profile-settings h3
  margin-bottom: 15px

.admin-profile-settings input
  margin-right: 25px

.admin-product-list-top
  display: flex
  justify-content: center
  flex-direction: column
  padding: 15px 10px 5px 10px
  text-align: center

.admin-product-list
  background-color: $janetGray

.add-new-product-button
  text-align: center

.product-list-title
  margin-top: 15px

.single-product
  display: flex
  justify-content: center

.product-image img
  width: 80px
  height: 70px
  margin-left: 10px

.product-info
  margin-left: 10px
  margin-right: 20px

.product-options button
  padding: 5px 10px 5px 10px
  margin-top: 5px
  float: left
  vertical-align: middle

//////////////////////////////////////////
