@import "_colors"


.cart
  width: 95%
  margin: auto
  text-align: center
  background: #fff
  margin-top: 10px

.cart img
  width: 33%

.yourCart, .orderHistory, .cart h2
  text-align: left
  font-size: 18px
  border-bottom: 1px solid #eee
  padding: 20px 10px 20px
  margin: 0 0 20px
  color: #999

.cart p
  color: #999
  font-size: 14px

.cart h3
  color: #999
  font-size: 15px

.fa-minus-square:before, .fa-plus-square:before
  color: $janetGreen

.fa-trash-o:before
  color: $janetPurple

.line
  border: 0.5px solid #eee

.cartButton button, .cart button
  width: 82%
  height: 45px
  font-size: 14px
  margin-top: 15px
  margin-bottom: 20px
  border-radius: 0
  background: $janetBlue

.total p
  font-size: 15px

.cartInfo h3
  margin-top: 45px

.cartInfo input
  width: 80%
  height: 25px
  border-radius: 0
  border: 1px solid $janetGray
