@import "_colors"

body
  background: $janetGray

.info-setting
  margin: auto
  width: 90%
  text-align: center
  background: #fff
  padding-top: 20px
  margin-bottom: 20px
  margin-top: 10px
  color: #999

.info-setting h2, .order-history h2
  text-align: left
  border-bottom: 1px solid #eee
  padding: 10px 10px 20px
  margin: 0 0 20px
  color: #999

.info-setting h3
  text-align: left
  font-size: 14px
  margin: 10px 0 10px 10px
  color: #999

.info-setting input
  width: 80%
  height: 35px
  border: 1px solid $janetGray
  margin-top: 3px
  margin-bottom: 3px
  padding: 0 10px 0 10px

.info-setting button
  width: 85%
  height: 45px
  border: none
  background: $janetGreen
  color: #fff
  font-size: 15px
  margin: 20px 0


.order-history
  margin: auto
  width: 90%
  text-align: left
  background: #fff
  padding-top: 20px

.order-history img
  margin-left: 10px
  width: 50px

.order-history p
  padding: 0 10px
  font-size: 12px
  color: #999

.order-history h2
  padding: 10px 10px 20px
  margin-bottom: 20px
  border-bottom: 1px solid #eee

.orderList
  border-bottom: 1px solid #eee

.orderList h3
  margin: 10px 0 10px 10px
  font-size: 14px
  color: #999
