@import "_colors"

.topNavHeader
  width: 100%
  height: 50px
  border-bottom: 1px solid #eeeeee
  font-size: .9em
  margin: auto
  margin-top: -10px
  background: #fff


.janetIcon
  height: 30px
  width: 150px
  background-image: url("../janetLogo.png")
  background-repeat: no-repeat
  background-size: contain
  margin: auto
  margin-top: -25px
  cursor: pointer


.janetIconWrapper
  margin: auto
  width: 300px
  height: 50px


.leftNav
  margin-left: 20px
  margin-top: 10px
  font-size: .75em
  padding-top: 5px
  width: 300px

.shopping
  margin-top: 0px
  margin-right: 10px
  color: gray
  cursor: pointer
  position: absolute
  right: 10px
  top: 10px
  &:hover
    color: $janetGreen
  &:active
    color: $janetPurple

.shoppingSpacerDiv
  width: 300px
  height: 40px
  right: 0px

.hamburger
  color: gray
  cursor: pointer
  margin-top: 10px
  &:hover
    color: $janetGreen
  &:active
    color: $janetPurple
.glass
  margin-left: 15px
  color: gray
  cursor: pointer
  &:hover
    color: $janetGreen
  &:active
    color: $janetPurple

.navMenu

  height: 600px
  width: 375px
  border: 1px solid lightgrey
  border-radius: 3px
  font-family: lato
  color: gray
  font-size: 24px
  margin-left: 0px
  position: absolute !important
  background: white !important
  z-index: 8

  transition: all linear 0.3s

  position: fixed !important
  background-color: $janetGray

.ng-hide
  margin-left: -300px


.loginButton
  border: 2px solid $janetGreen
  color: white
  width: 100px
  border-radius: 5px
  text-align: center
  margin-top: 50px
  margin-left: 20px
  cursor: pointer
  background: $janetGreen
  &:active
    background: $janetGray
    border: 2px solid $janetGray
    color: $janetGray


.optionBox
  margin-top: 50px

.navOption
  margin: 20px
  cursor: pointer
  border-radius: 5px
  &:hover
    color: $janetGreen

  &:active
    background: $janetGreen
    color: $janetGray

.navXButton
  cursor: pointer
  width: 15px
  float: right
  margin-top: 35px
  margin-right: 35px
  font-size: 26px

.searchSlideBox
  height: 100px
  width: 100%
  border: 1px solid lightgrey
  border-radius: 4px
  font-family: lato
  color: gray
  margin-left: 0px
  margin-top: 50px
  transition: all linear 0.3s
  background: white
  position: absolute
  z-index: 7
.ng-hide
  margin-left: -300px

#searchBar
  background: $janetGray
  border: none
  border-radius: 2px
  color: gray
  height: 30px
  width: 260px
  font-size: 18px
  margin-top: 35px
  margin-left: 15px

#topSearchBar
  background: $janetGray
  border: none
  border-radius: 2px
  color: gray
  height: 30px
  width: 200px
  font-size: 18px
  margin-top: -27px
  margin-left: 50px
  display: none

@media (min-width: 800px)
  #topSearchBar
    display: block

  .glass
    visibility: hidden

  .janetIcon
    margin-right: 20%

  .navMenu
    width: 250px


.cancelButton
  float: right
  margin-right: 15px
  margin-top: 42px
  cursor: pointer
  &:hover
    color: $janetGreen
