@import "_colors"

// $janetPurple: #9751AD
// $janetGreen: #73D1A6
// $janetBlue: #93D2CD
// $janetGray: #DCE1E2

.product-details-main-container
    width: 100%
    // height: 100%
    background: #f3f3f3


.product-details-nav
    width: 100%
    height: 45px
    background-color: gray

.product-details-categories-menu
    width: 100%
    height: 45px
    background-color: lightgrey

.product-details-banner-img
    width: 100%
    height: 164px
    background-position: center
    background-repeat: no-repeat
    background-size: contain
    img

      height: 100%
.deal-info
    width: 100%
    background-color: white
    padding-top: 15px
    padding-bottom: 15px

.deal-title
    // width: 100%
    font-size: 16px
    margin-bottom: 15px
    margin-left: 20px


.deal-info-price-row
    // width: 80%
    background-color: none
    display: flex
    line-height: 12px
    justify-content: space-between

.prices
    margin-left: 20px
    margin-top: 8px

.price
    font-size: 15px
    color: $janetGreen
    display: inline-block

.retail-price
    font-size: 13px
    display: inline-block
    margin-left: 5px
    text-decoration: line-through
    color: gray


.favorites-icon
    display: inline-block
    font-size: 15px
    border: 1px solid #eee
    border-radius: 3px
    padding: 6px 8px 6px 8px
    margin-right: 20px

.heart-icon
    color: #999

.product-details-options
    width: 100%
    background-color: white
    text-align: center
    padding-top: 20px

.size-form
    width: 90%
    height: 45px
    border: 1px solid $janetGreen
    color: $janetGreen
    border-radius: none
    font-size: 10px
    font-weight: 200
    line-height: 20px
    text-align: left
    word-spacing: 0px
    background-color: white
    margin-bottom: 10px
    padding: 10px 16px
    font-size: 16px
    -webkit-appearance: none
    -webkit-border-radius: 0px
    outline: none

.color-form
    width: 90%
    height: 45px
    border: 1px solid $janetGreen
    color: $janetGreen
    border-radius: none
    font-size: 10px
    font-weight: 200
    line-height: 20px
    text-align: left
    word-spacing: 0px
    background-color: white
    margin-bottom: 10px
    padding: 10px 16px
    font-size: 16px
    -webkit-appearance: none
    -webkit-border-radius: 0px
    outline: none


.product-details-qty-row
    width: 90%
    height: 45px
    background-color: white
    margin: 0 auto
    display: flex
    justify-content: space-between

.product-details-qty
    height: 30px
    width: 100px
    background: white
    padding-top: 15px
    font-size: 16px
    color: black

.Product-details-qty-input
    height: 23px
    width: 60px
    font-size: 16px
    padding: 10px 16px
    background-color: #fff
    border: 1px solid #ccc
    color: black

.Product-details-qty-input:focus
    textarea:focus, input:focus
    outline: none
    border: 1px solid $janetPurple

.add-to-bag-btn
    background: $janetPurple
    color: white
    width: 90%
    height: 50px
    font-family: Proxima Nova Rg, Arial, sans-serif
    font-size: 15px
    border: solid
    border-width: 1px
    padding: 10px 20px 10px 20px
    margin-top: 20px
    margin-bottom: 5px
    textarea:focus, input:focus
    outline: none
    border-radius: 3px

.product-details-social-media-icons
    width: 100%
    height: 50px
    background-color: white
    display: flex
    justify-content: space-around
    padding-top: 10px

.product-details-social-media-icons i
    font-size: 1.5em
    color: gray



.fa-facebook:hover
    color: #0064cd

.fa-twitter:hover
    color: #95d2e9

.fa-pinterest:hover
    color: #991c1c

.fa-envelope-o:hover
    color: #9ae0d6

.fa-google-plus:hover
    color: #ff8188

.product-details-section
    width: 100%
    float: left
    list-style-type: circle
    background-color: orange

.details li
    list-style: circle
    padding-left: 20px
    display: list-item

.product-details-header
    padding-left: 20px

.product-details-stats
    width: 100%
    height: 80px
    background-color: white
    display: flex

.product-details-percentage-saved
    width: 33%
    height: 80px
    background-color: none
    text-align: center

.product-details-countdown
    width: 33%
    height: 60px
    background-color: none
    text-align: center
    padding-top: 20px
    font-size: 20px



.product-details-amount-sold
    width: 33%
    height: 80px
    background-color: none
    text-align: center

// clock
// .clock
//     width: 33%
//     height: 80px
//     background-color: orange

#clockdiv
	width: 100%
    height: 80px
    background-color: black
    text-align: center
    font-size: 20px
    margin-top: 20px
    display: flex



// #clockdiv
	// padding: 10px
	// border-radius: 3px
	// background: none
	// display: inline-block


#clockdiv span
	// padding: 15px
	border-radius: 3px
	background:none
	display: inline-block

// End of clock

.stat
    width: 100%
    font-size: 20px
    background-color: none
    margin-top: 20px
    text-align: center

.stat-description
    width: 100%
    font-size: 10px
    margin-top: 6px
    text-align: center


// product details information section
.product-details-info-section
    width: 100%
    background-color: white
    margin-top: 20px

.info-block
    width: 90%
    max-height: 528px
    margin: 0 auto
    background-color: none
    padding-top: 10px

.product-details-info-h4
    width: 100%
    font-size: 16px
    font-weight: 300
    color: #333
    background-color: none
    margin: 0 auto
    margin-top: 15px

.product-details-info-paragraph
    font-size: 14px
    color: #666666
    margin-top: 10px
    margin-bottom: 20px

.info-block li
    color: #999

.colors
    width: 100%
    margin-bottom: 20px
    font-size: 14px
    color: #666666

.sizing
    margin-top: 20px
    margin-bottom: 20px
    font-size: 14px
    color: #666666

.emphasis
    margin-top: 40px
    margin-bottom: 20px
    color: #666666

.divider-line
    border: 0
    height: 0
    border-top: 1px solid rgba(0, 0, 0, 0.1)
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
    margin-bottom: 20px

.shipping
    margin-bottom: 20px

.fine-print
    margin-bottom: 20px

.momentjs-test-section
    width: 100%
    height: 300px
    background-color: blue
