<div class="cart-container">
  <div class="cart" ng-show="!cart[0]">
    <h2>YOUR CART</h2>
    <P>You don't have anything in your cart yet!</P><br><br>
    <button class="cartButton" type="button" ui-sref="home">SHOP TODAY'S DEAL!</button>
  </div>

  <div class="cart" ng-show="cart[0]">
    <h2 class="yourCart">YOUR CART</h2>
    <div ng-repeat="item in cart">
      <img src="{{item.product.images}}" alt="" />
      <h3>{{item.product.name}}</h3>
      <p>Price: ${{item.product.discountPrice}}</p>
      <p>Seller: {{item.product.seller}}</p><br>
      <p>QTY:
      <i class="fa fa-minus-square" aria-hidden="true" ng-click="removeQty(item)"></i>
      {{item.productQty}}
      <i class="fa fa-plus-square" aria-hidden="true" ng-click="addQty(item)"></i><br>
      Remove this item: <i class="fa fa-trash-o" aria-hidden="true" ng-click="removeItem(item)"></i></p><br>
      <hr class="line"><br>
    </div>

  <div class="total">
    <p>Subtotal: {{subtotal | currency}}</p>
    <p>Shipping: {{shipping | currency}}</p><br>
    <p>ORDER TOTAL: {{total | currency}}</p><br>
    <hr class="line">
  </div>

    <div class="cartButton" ng-show="!user">
      <button type="button" ng-click="toggleModal()">LOGIN or SIGN UP to continue</button>
    </div>

    <div class="cartInfo" ng-show="user && cart[0]">
      <h3>SHIPPING INFORMATION</h3><br>
      <input type="text" ng-model="user.name" placeholder="Name"><br>
      <input type="text" ng-model="user.shippingAddress.street" placeholder="Street"><br>
      <input type="text" ng-model="user.shippingAddress.city" placeholder="City"><br>
      <input type="text" ng-model="user.shippingAddress.state" placeholder="State"><br>
      <input type="text" ng-model="user.shippingAddress.zip" placeholder="Zipcode"><br><br>
    </div>

    <div class="cartInfo" ng-show="user && cart[0]">
      <h3>PAYMENT INFORMATION</h3><br>
      <input type="text" placeholder="Card number"><br>
      <input type="text" placeholder="Name on the card"><br>
      <input type="text" placeholder="Expire date"><br>
      <input type="text" placeholder="CVV code"><br><br>
    </div>


    <button class="cartButton" type="button" ng-show="user" ng-click="createOrder()">Submit</button>
  </div>
</div>

<login-signup-directive></login-signup-directive>
