<div class="info-setting">
  <div ng-show="user">
    <h2>MY ACCOUNT</h2>
    <h3>Your Information</h3>
    <input type="text" ng-model="user.name" placeholder="Full Name">
    <input type="email" ng-model="user.email" placeholder="Email Address">
    <h3>Shipping Address</h3>
    <input type="text" ng-model="user.shippingAddress.street" placeholder="Street">
    <input type="text" ng-model="user.shippingAddress.city" placeholder="City">
    <input type="text" ng-model="user.shippingAddress.state" placeholder="State">
    <input type="text" ng-model="user.shippingAddress.zip" placeholder="Zip">
    <h3>Phone Number</h3>
    <input type="text" ng-model="user.phone" placeholder="Phone"><br>
    <button type="button" ng-click="updateUser(user)">Update Information</button>
  </div>
    <h2 ng-show="!user">Please login to continue! :)</h2>
</div>


<div class="order-history" ng-show="user">
  <h2>ORDER HISTORY</h2>
  <div class="orderList" ng-repeat="order in orders | orderBy: '-orderDate'">
    <h3>Order Date: {{order.orderDate | date: MM/dd/yyyy}}</h3><br>
    <div class="orderItem" ng-repeat="history in order.productsOrdered">
      <div class="orderHistoryPhoto">
        <img src="{{history.product.images}}" alt="" />
      </div>
      <div class="orderHistoryInfo">
        <p>{{history.product.name}}</p>
        <p>Qty: {{history.qty}}<br></p>
      </div>
    </div>
    <br>
    <div class="orderHistoryTotal">
      <p>Total Price: {{order.totalPrice | currency}}</p><br>
    </div>
  </div>
</div>
