<section>
    <div class="footerSocialmediaBox">
        <i class="fa fa-2x fa-facebook social" aria-hidden="true"></i>
        <i class="fa fa-2x fa-twitter social" aria-hidden="true"></i>
        <i class="fa fa-2x fa-pinterest social" aria-hidden="true"></i>
        <i class="fa fa-2x fa-envelope-o social" aria-hidden="true"></i>
        <i class="fa fa-2x fa-google-plus social" aria-hidden="true"></i>
        <div class="footerBottom">
            © 2020 JANET.WEDONTHAVEADOMAIN
        </div>
    </div>

</section>
