


      <nav-directive></nav-directive>

        <!-- <div id="mainCarousel" class="owl-carousel"> -->
            <div class="mainProduct" ng-repeat="product in products">
              <img src="{{product.images}}" alt="" />
              {{product.name}}
            </div>
        <!-- </div> -->
        <div id="secondCarousel" class="owl-carousel">
            <!-- <div class="" ng-repeat="">

            </div> -->
        </div>
        <div id="thirdCarousel" class="owl-carousel">
            <!-- <div class="" ng-repeat="">

            </div> -->
        </div>
        <div id="fourthCarousel" class="owl-carousel">
            <!-- <div class="" ng-repeat="">

            </div> -->
        </div>
