<div class="homeBox">
    <div class="expandyBox">

        <div class="mainProduct" ng-repeat="product in products | filter:searchText">

            <a ui-sref="productDetails({productId:product._id})"> <img id="homeProductImage" src="{{product.images}}" alt="{{product.name}}" />
            </a>

            <div class="homeProductDetails" ui-sref="productDetails({productId:product._id})">

                <h1 id="homeProductName">  {{product.name}}</h1>

                <div class="homePriceBox">

                    <h1 id="homeDiscountPrice">
              ${{product.discountPrice}}</h1>

                    <h1 id="homeRetailPrice">
              ${{product.retailPrice}}</h1>

                </div>

            </div>
        </div>
    </div>

</div>
