<div class="modal" ng-show='modalShown'>
  <div class="login-overlay" ng-click='toggleModal()'></div>
  <div class="login-dialog">
        <div class='loginSection'>
          <h2>Login</h2>
          <input type="email" placeholder=" Email Address" ng-model="info.email"><br>
          <input type="password" placeholder=" Password" ng-model="info.password"><br>
          <button type="button" ng-click="login(info)">Login</button><br><br>
        </div>

        <div class='signupSection'>
          <h2>Sign Up</h2>
          <input type="text" placeholder="Full Name" ng-model="signUp.name"><br>
          <input type="email" placeholder="Email Address" ng-model="signUp.email"><br>
          <input type="password" placeholder="Choose a password" ng-model="signUp.password"><br>
          <button type="button" ng-click="createUser(signUp)">Sign Up</button>
        </div>
  </div>
</div>
