
    <section class="topNavHeader">

        <div class="leftNav">

            <i class="hamburger fa fa-2x fa-bars" aria-hidden="true" ng-click="isVisible = !isVisible"></i>

            <i class="glass fa fa-2x fa-search" aria-hidden="true" ng-click="searchIsVisible = !searchIsVisible"></i>

            <input id="topSearchBar" type="text" name="name" placeholder="   Search...">

        </div>

        <div class="janetIcon" ui-sref="home"></div>

        <i class="shopping fa fa-2x fa-shopping-bag" aria-hidden="true" ui-sref="cart"></i>

    </section>


    <div class="navMenu" ng-hide="!isVisible">

        <div class="navXButton" ng-click="isVisible = !isVisible">
            X
        </div>

        <div class="loginButton" ng-click=toggleModal() ng-hide="user">
            Login
        </div>
        <div class="loginButton" ng-click=logout() ng-hide="!user">
            Logout
        </div>

        <div class="optionBox">

            <div class="navOption"  ng-click="isVisible = !isVisible">All Deals</div>
            <div class="navOption" ng-click="isVisible = !isVisible">
                </i>Shop By Category</div>
            <div class="navOption"  ng-click="isVisible = !isVisible"><i class="fa fa-clock-o" aria-hidden="true"></i> Order History</div>


            <div class="navOption"  ng-click="isVisible = !isVisible"><i class="fa fa-cog" aria-hidden="true"></i> Account Settings</div>

        </div>


    </div>
    <div class="searchSlideBox" ng-hide="!searchIsVisible">
        <div class="cancelButton" ng-click="searchIsVisible = !searchIsVisible">
            Cancel
        </div>

        <input id="searchBar" type="text" name="name" placeholder="   Search...">



    </div>

<login-signup-directive></login-signup-directive>
