<section class="topNavHeader">

    <div class="leftNav">

        <i class="hamburger fa fa-2x fa-bars" aria-hidden="true" ng-click="navIsVisible = !navIsVisible"></i>

        <i class="glass fa fa-2x fa-search" aria-hidden="true" ng-click="searchIsVisible = !searchIsVisible"></i>

        <input id="topSearchBar" type="text" name="name" placeholder="   Search..." ng-change="updateFilter(searchText)" ng-model="searchText">

    </div>
    <div class="janetIconWrapper">

    <div class="janetIcon" ui-sref="home"></div>
  </div>

    <div class="shoppingSPacerDiv">

    <i class="shopping fa fa-2x fa-shopping-bag" aria-hidden="true" ui-sref="cart"></i>
  </div>

</section>


<div class="navMenu" ng-hide="!navIsVisible">

    <div class="navXButton" ng-click="navIsVisible = !navIsVisible">
        X
    </div>

    <div class="loginButton" ng-click="toggleModal()" ng-hide="user">
        Login
    </div>
    <div class="loginButton" ng-click=logout() ng-hide="!user">
        Logout
    </div>

    <div class="optionBox">

        <div class="navOption" ng-click="isVisible = !isVisible" ui-sref="home">All Deals</div>
        <div class="navOption" ng-click="isVisible = !isVisible">
            </i>Shop By Category</div>



        <div class="navOption" ng-click="isVisible = !isVisible" ui-sref="settings">   My Account</div>
        <div class="navOption" ng-click="isVisible = !isVisible" ui-sref="cart"> Bag</div>

        <div class="navSocialmediaBox">
            <i class="fa fa fa-facebook social" aria-hidden="true"></i>
            <i class="fa fa-twitter social" aria-hidden="true"></i>
            <i class="fa fa-pinterest social" aria-hidden="true"></i>
            <i class="fa  fa-google-plus social" aria-hidden="true"></i>
            <div class="navBottom">
                © 2020 JANET.WEDONTHAVEADOMAIN
            </div>
    </div>



</div>
<div class="searchSlideBox" ng-hide="!searchIsVisible">
    <div class="cancelButton" ng-click="searchIsVisible = !searchIsVisible">
        Cancel
    </div>

    <input ng-model="searchText" id="searchBar" type="text"  placeholder="   Search..." ng-change="updateFilter(searchText)" ng-model="searchText">



</div>

<login-signup-directive></login-signup-directive>
