<main class="product-details-main-container">

    <!-- <nav class="product-details-nav"></nav>
    <nav class="product-details-categories-menu"></nav> -->

 <section class="product-details-banner-img"><img src="{{product.images}}" alt="" /></section>

<section class="deal-info">
    <div class="deal-title">
      {{product.name}}
    </div>

    <div class="deal-info-price-row">
        <div class="prices">
            <div class="price">${{product.discountPrice}}</div>
            <div class="retail-price">${{product.retailPrice}}</div>
        </div>

        <div class="favorites-icon">
            <i class="heart-icon fa fa-heart-o" aria-hidden="true"> 376</i>
        </div>
    </div>
</section>

<section class="product-details-options">
    <select class="size-form" form="size-form">
        <option selected disabled>Size</option>
        <option value="XXS">XXS</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select>

    <select class="color-form" form="color-form">
        <option selected disabled>Color</option>
        <option value="Red">Red</option>
        <option value="Charcoal">Charcoal</option>
        <option value="Black">Black</option>
        <option value="Gray">Gray</option>
        <option value="Navy">Navy</option>
    </select>

    <div class="product-details-qty-row">
        <div class="product-details-qty">Quantity</div>

        <input class="Product-details-qty-input" type="text" name="name" ng-model="productQty">
    </div>

    <button class="add-to-bag-btn" type="button" name="button" ng-click="addToCart(product, productQty)">ADD TO BAG</button>
</section>

<section class="product-details-social-media-icons">
<i class="fa fa-facebook social" aria-hidden="true"></i>
<i class="fa fa-twitter social" aria-hidden="true"></i>
<i class="fa fa-pinterest social" aria-hidden="true"></i>
<i class="fa fa-envelope-o social" aria-hidden="true"></i>
<i class="fa fa-google-plus social" aria-hidden="true"></i>
</section>

<!-- <section class="product-details-section">
    <h4 class="product-details-header">PRODUCT DETAILS</h4>
    <ul class="details">
        <li class="item">Model is wearing a small</li>
        <li>Fits true to size</li>
        <li>Tank top sleeves</li>
    </ul>
</section> -->

<section class="product-details-stats">

    <div class="product-details-percentage-saved">
        <div class="stat">57%</div>
        <div class="stat-description">YOU SAVE</div>
    </div>

    <div class="product-details-countdown">
        <div id="clockdiv">

            <span class="hours"></span>:<span class="minutes"></span>:<span class="seconds"></span>

        </div>
        <div class="stat-description">2 DAYS</div>
    </div>

    <div class="product-details-amount-sold">
        <div class="stat">329</div>
        <div class="stat-description">AMT SOLD</div>
    </div>
</section>



<section class="product-details-info-section">
    <div class="info-block">
    <h4 class="product-details-info-h4">PRODUCT DESCRIPTION</h4>
    <p class="product-details-info-paragraph">
      {{product.description}}
    </p>

    <p class="colors">
        <strong>COLORS</strong>
    </p>

        <ul>
            <li>Ivory/Black</li>
            <li>Ivory/Black</li>
        </ul>
    <p class="sizing">
        <strong>SIZING (This garment runs true to size)</strong>
    </p>
        <ul>
            <li>Ivory/Black</li>
            <li>Ivory/Black</li>
        </ul>

    <p class="emphasis">
        <em>Model is wearing a size small</em>
    </p>

    <hr class="divider-line">

    <p class="shipping">
        <strong>SHIPPING</strong>
    </p>

    <p class="product-details-info-paragraph">
        $3.99 for the first item and $1.99 for each additional item. US only. Seller usually ships within 6 business days. Ships no later than Fri, Jun 10.
    </p>

    <p class="fine-print">
        <strong>FINE PRINT</strong>
    </p>

    <p class="product-details-info-paragraph">
        No limit per household. Your satisfaction is of our utmost priority. Therefore, if you find that there are any problems once your item arrives, you can always email us at customerservice@caralase.com and we will make sure that you are well taken care of! Please ensure your address is correct when purchasing for we are unable to make any changes once your order has been submitted. Please note that colors may differ slightly due to individual monitor settings. Thank you!
    </p>
    </div>
</section>

<section class="momentjs-test-section">
    <table class="countdownContainer">
    			<tr class="info">
    				<td colspan="4">Christmas Countdown</td>
    			</tr>
    			<tr class="info">
    				<td id="days"></td>
    				<td id="hours"></td>
    				<td id="minutes"></td>
    				<td id="seconds"></td>
    			</tr>
    			<tr>
    				<td>Days</td>
    				<td>Hours</td>
    				<td>Minutes</td>
    				<td>Seconds</td>
    			</tr>
    		</table>
</section>




</main>
